<app-navbar></app-navbar>
<section>
<div class="product-section" id="product-section">
    <h2>Productos Destacados</h2>
    <table>
      <tr>
        <td>
          <img src="https://cdn.pixabay.com/photo/2018/09/16/14/58/toy-3681614_1280.jpg" alt="Producto 1">
          <h3>Producto 1</h3>
          <p>Precio: $10</p>
        </td>
        <td>
          <img src="https://cdn.pixabay.com/photo/2018/11/15/05/36/young-3816557_1280.jpg" alt="Producto 2">
          <h3>Producto 2</h3>
          <p>Precio: $20</p>
        </td>
        <td>
          <img src="https://cdn.pixabay.com/photo/2018/09/15/11/19/male-3679138_1280.jpg" alt="Producto 3">
          <h3>Producto 3</h3>
          <p>Precio: $30</p>
        </td>
        <td>
          <img src="https://cdn.pixabay.com/photo/2019/02/26/11/50/small-4021854_1280.jpg" alt="Producto 4">
          <h3>Producto 4</h3>
          <p>Precio: $40</p>
        </td>
      </tr>
      <!-- Filas adicionales para la sección 1 -->
      <tr>
        <td>
            <img src="https://cdn.pixabay.com/photo/2018/09/15/11/29/cute-3679163_1280.jpg" alt="Producto 1">
            <h3>Producto 1</h3>
            <p>Precio: $10</p>
          </td>
          <td>
            <img src="https://cdn.pixabay.com/photo/2018/10/21/13/01/toy-3762868_1280.jpg" alt="Producto 2">
            <h3>Producto 2</h3>
            <p>Precio: $20</p>
          </td>
          <td>
            <img src="https://cdn.pixabay.com/photo/2018/11/16/00/24/young-3818482_1280.jpg" alt="Producto 3">
            <h3>Producto 3</h3>
            <p>Precio: $30</p>
          </td>
          <td>
            <img src="https://cdn.pixabay.com/photo/2019/08/22/10/12/detective-conan-4423091_1280.jpg" alt="Producto 4">
            <h3>Producto 4</h3>
            <p>Precio: $40</p>
          </td>
      </tr>
    </table>
    <a  class="link-custom" routerLink="/more-products">Ver más productos</a>
  </div>
</section>

