<app-navbar></app-navbar>
<section>
<div class="product-section" id="product-section">
    <h2>Productos Destacados</h2>
    <table>
      <tr>
        <td>
          <img src="https://random.imagecdn.app/500/201" alt="Producto 1">
          <h3>Producto 1</h3>
          <p>Precio: $10</p>
        </td>
        <td>
          <img src="https://random.imagecdn.app/500/205" alt="Producto 2">
          <h3>Producto 2</h3>
          <p>Precio: $20</p>
        </td>
        <td>
          <img src="https://random.imagecdn.app/500/210" alt="Producto 3">
          <h3>Producto 3</h3>
          <p>Precio: $30</p>
        </td>
        <td>
          <img src="https://random.imagecdn.app/500/200" alt="Producto 4">
          <h3>Producto 4</h3>
          <p>Precio: $40</p>
        </td>
      </tr>
      <!-- Filas adicionales para la sección 1 -->
      <tr>
        <td>
            <img src="https://random.imagecdn.app/500/202" alt="Producto 1">
            <h3>Producto 1</h3>
            <p>Precio: $10</p>
          </td>
          <td>
            <img src="https://random.imagecdn.app/500/203" alt="Producto 2">
            <h3>Producto 2</h3>
            <p>Precio: $20</p>
          </td>
          <td>
            <img src="https://random.imagecdn.app/500/204" alt="Producto 3">
            <h3>Producto 3</h3>
            <p>Precio: $30</p>
          </td>
          <td>
            <img src="https://random.imagecdn.app/500/206" alt="Producto 4">
            <h3>Producto 4</h3>
            <p>Precio: $40</p>
          </td>
      </tr>
    </table>
    <a  class="link-custom" routerLink="/more-products">Ver más productos</a>
  </div>
</section>

