<div class="container text-center py-5">
    <p class="mb-4" style="font-size: 1.6rem;">Used by <span class="text-success"><strong>2400+</strong></span> of the best companies in the world.</p><a href="#">
        <img class="m-3" src="https://static.cdnlogo.com/logos/g/35/google-icon.svg" /></a>
        <a href="#"><img class="m-4" src="https://static.cdnlogo.com/logos/m/6/microsoft.svg" /></a>
        <a href="#"><img class="m-3-gray" src="https://static.cdnlogo.com/logos/a/2/apple.svg" /></a>
        <a href="#"><img class="m-4" src="https://static.cdnlogo.com/logos/f/4/facebook.svg" /></a>
        <a href="#"><img class="m-3" src="https://static.cdnlogo.com/logos/t/96/twitter-icon.svg" /></a>
</div>
