<app-navbar></app-navbar>
<section>
<div class="wrapper">
  <div class="inner">
    <form action="">
      <h3>Contactese con nosotros</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <label class="form-group">
        <input type="text" class="form-control"  required>
        <span>ingrese su nombre</span>
        <span class="border"></span>
      </label>
      <label class="form-group">
        <input type="text" class="form-control"  required>
        <span for="">Ingrese su mail</span>
        <span class="border"></span>
      </label>
      <label class="form-group" >
        <textarea name="" id="" class="form-control" required></textarea>
        <span for="">Su mensaje</span>
        <span class="border"></span>
      </label>
      <button>ENVIAR
        <i class="zmdi zmdi-arrow-right"></i>
      </button>
    </form>
  </div>
</div>
</section>

