<app-navbar></app-navbar>
<div class="container">
    <div class="carousel-container">
      <h2>Productos Destacados</h2>
      <div class="slick-carousel">
        <div><img src="https://random.imagecdn.app/500/400" alt="Imagen 1" class="carousel-image"></div>
        <div><img src="https://random.imagecdn.app/500/401" alt="Imagen 2" class="carousel-image"></div>
        <div><img src="https://random.imagecdn.app/500/402" alt="Imagen 3" class="carousel-image"></div>
      </div>
      <!-- Agrega más imágenes al carrusel -->
    </div>
  
    <h2>Últimos productos</h2>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://random.imagecdn.app/500/200" alt="Producto 1">
      <div class="caption">
        <h3>Producto 1</h3>
        <p>Descripción del producto 1</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://random.imagecdn.app/500/201" alt="Producto 2">
      <div class="caption">
        <h3>Producto 2</h3>
        <p>Descripción del producto 2</p>
      </div>
    </div>
  </div>
  <!-- Agrega más productos a la grilla -->
</div>

<!-- Agrega las etiquetas <link> para precargar las imágenes -->
<link rel="preload" href="https://random.imagecdn.app/500/400" as="image">
<link rel="preload" href="https://random.imagecdn.app/500/401" as="image">
<link rel="preload" href="https://random.imagecdn.app/500/402" as="image">
<link rel="preload" href="https://random.imagecdn.app/500/200" as="image">
<link rel="preload" href="https://random.imagecdn.app/500/201" as="image">
<!-- Agrega más enlaces para las imágenes que deseas precargar -->
  
