<app-navbar></app-navbar>
<div class="container">
    <div class="carousel-container">
      <h2>Productos Destacados</h2>
      <div class="slick-carousel">
        <div><img src="https://cdn.pixabay.com/photo/2018/10/22/06/38/alicia-3764620_1280.jpg" alt="Imagen 1" class="carousel-image"></div>
        <div><img src="https://cdn.pixabay.com/photo/2019/08/11/11/47/calm-usopp-4398785_1280.jpg" alt="Imagen 2" class="carousel-image"></div>
        <div><img src="https://cdn.pixabay.com/photo/2019/08/16/12/45/im-off-to-the-moon-4410206_1280.jpg" alt="Imagen 3" class="carousel-image"></div>
      </div>
      <!-- Agrega más imágenes al carrusel -->
    </div>
  
    <h2>Últimos productos</h2>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.pixabay.com/photo/2018/12/23/09/45/toy-3890797_1280.jpg" alt="Producto 1">
      <div class="caption">
        <h3>Producto 1</h3>
        <p>Descripción del producto 1</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.pixabay.com/photo/2018/11/14/12/01/young-3815056_1280.jpg" alt="Producto 2">
      <div class="caption">
        <h3>Producto 2</h3>
        <p>Descripción del producto 2</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.pixabay.com/photo/2018/10/20/03/26/young-3760179_1280.jpg" alt="Producto 2">
      <div class="caption">
        <h3>Producto 2</h3>
        <p>Descripción del producto 2</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.pixabay.com/photo/2019/02/27/00/20/small-4023177_1280.jpg" alt="Producto 2">
      <div class="caption">
        <h3>Producto 2</h3>
        <p>Descripción del producto 2</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.pixabay.com/photo/2019/06/23/14/25/tea-party-collection-4293819_1280.jpg" alt="Producto 2">
      <div class="caption">
        <h3>Producto 2</h3>
        <p>Descripción del producto 2</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cdn.pixabay.com/photo/2018/11/16/00/33/young-3818506_1280.jpg" alt="Producto 2">
      <div class="caption">
        <h3>Producto 2</h3>
        <p>Descripción del producto 2</p>
      </div>
    </div>
  </div>
  <!-- Agrega más productos a la grilla -->
</div>

<!-- Agrega las etiquetas <link> para precargar las imágenes -->
<link rel="preload" href="https://random.imagecdn.app/500/400" as="image">
<link rel="preload" href="https://random.imagecdn.app/500/401" as="image">
<link rel="preload" href="https://random.imagecdn.app/500/402" as="image">
<link rel="preload" href="https://random.imagecdn.app/500/200" as="image">
<link rel="preload" href="https://random.imagecdn.app/500/201" as="image">
<!-- Agrega más enlaces para las imágenes que deseas precargar -->
  
